<footer>
    <div class="container">
        <div class="row">
            <div class="col s4 m4 l4">
                <a href="http://linkedin.com/in/charlie-potter-135705163" target="_blank" class="link">LinkedIn</a>
            </div>
            <div class="col s4 m4 l4">
                <a href="https://www.youtube.com/channel/UCIgxUp5h-AtEB9MqeOq2avg" target="_blank" class="link">Youtube</a>
            </div>
            <div class="col s4 m4 l4">
                <a href="https://vimeo.com/charliepotter" target="_blank" class="link">Vimeo</a>
            </div>
        </div>
    </div>
</footer>