<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sam Potter" />
    <title>Charlie Potter</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/includes/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css">
</head>

<body>
    <%- body -%>

    <!-- External libraries -->
    <script src="./assets/includes/materialize.min.js"></script>
    <script src="./assets/includes/TweenMax.min.js"></script>
    <script src="./assets/includes/ScrollMagic.min.js"></script>
    <script src="./assets/includes/animation.gsap.min.js"></script>

    <!-- Scripts -->
    <script src="./assets/js/main.js"></script>
</body>

</html>