<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sam Potter" />
    <meta name="robots" content="follow, all">
    <meta name="language" content="en">
    <link rel="canonical" href="http://charliepotter.com.au/about" />
    <meta property="og:site_name" content="Charlie Potter Portfolio | Actor, Director">
    <meta property="og:title" content="Charlie Potter Portfolio | Actor, Director">
    <meta property="og:description" content="Charlie Potter is a Melbourne born actor and media creator. Armed with a sensitive soul and an electric energy, he’s your friendly Sydney-based teenager. Between acting studies and training Charlie’s exploring new angles and ideas with his camera, and continuing his growth in storytelling.">
    <meta property="og:url" content="http://www.charliepotter.com.au/">
    <meta name="description" content="Charlie Potter is a Melbourne born actor and media creator. Armed with a sensitive soul and an electric energy, he’s your friendly Sydney-based teenager. Between acting studies and training Charlie’s exploring new angles and ideas with his camera, and continuing his growth in storytelling.">
    <meta name="keywords" content="Charlie Potter, Charlie Potter Melbourne, Charlie Potter Actor, Charlie Potter Director">
    <title>Charlie Potter Portfolio | Actor, Director</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="./assets/includes/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/main.css">
</head>

<body>
    <div id="socials" class="hide-on-med-and-down">
        <ul>
            <li><a href="http://linkedin.com/in/charlie-potter-135705163" target="_blank" class="linkedin"><img src="./assets/icons/linkedin.png"></a></li>
            <li><a href="https://www.youtube.com/channel/UCIgxUp5h-AtEB9MqeOq2avg" target="_blank" class="youtube"><img src="./assets/icons/youtube.png"></a></li>
            <li><a href="https://vimeo.com/charliepotter" target="_blank" class="vimeo"><img src="./assets/icons/vimeo.png"></a></li>
        </ul>
    </div>
    <div data-barba="wrapper">
        <div data-barba="container">
            <%- body -%>  
        </div>
    </div>
    <a href="/contact" class="contact-btn btn">Contact</a>
    <!-- JS -->
    <script src="https://unpkg.com/@barba/core"></script>
    <script type="text/javascript" src="./assets/includes/materialize.min.js"></script>
    <script type="text/javascript" src="./assets/includes/TweenMax.min.js"></script>
    <script type="text/javascript" src="./assets/includes/lazyload.min.js"></script>
    <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>