/*--- Global CSS ---*/

* { font-family: 'Helvetica Neue'; }
html { min-height: 101vh; }

:root {
    --dark: #313131;
    --blue: #4B84FC;

    --shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    --shadow-hover: 0 10px 30px rgba(0, 0, 0, 0.3);

    --transition: 300ms;
}

.row {
    padding: 20px 0;
}

/*--- Custom elements ---*/

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    font-size: 18px;
}

a.link {
    display: inline-block;
    color: var(--dark);
    font-weight: 700;
}

a.link::after {
    position: relative;
    top: 2px;
    left: 0;
    content: '';
    display: block;
    background-color: var(--blue);
    transition: all var(--transition);
    width: 80%;
    border-radius: 2px;
    height: 3px;
}

a.link:hover::after {
    width: 90%;
}

.contact-btn {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
    background-color: var(--blue);
    width: 160px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
    box-shadow: none;
    border-radius: 10px;
    transition: all var(--transition);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.contact-btn:hover, .contact-btn:focus {
    background-color: #fff;
    color: var(--blue);
    box-shadow: var(--shadow-hover);
}

/*--- Mobile Navigation ---*/

#mobile-nav {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    background: var(--dark);
    text-align: center;
    padding: 0;
    overflow: hidden;
    transition: all .5s cubic-bezier(.7, 0, .3, 1);
}

#mobile-nav.active {
    height: 100vh;
    padding: 50px;
}

#mobile-nav ul {
    position: relative;
    top: calc(50% - 40px);
    transform: translateY(-50%);
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    display: block;
    line-height: 20px;
}

#mobile-nav ul li a::before {
    content: '';
    z-index: -1;
    display: block;
    width: 0;
    height: 50px;
    position: relative;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--blue);
}

#mobile-nav ul li a.active::before {
    width: 80%;
}

#mobile-nav .socials-container {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    width: 400px;
}

#mobile-nav .socials-container a {
    color: #fff;
    padding: 0 10px;
}

#mobile-nav .close-toggle {
    position: absolute;
    right: 30px;
    top: 47px;
    transform: translateX(-50%);
    cursor: pointer;
    color: #fff;
}

#mobile-nav .close-toggle .material-icons {
    font-size: 3rem;
}

/*--- Desktop Navigation ---*/

nav {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    background: none;
    box-shadow: none;
    height: 100px;
    line-height: 100px;
    padding: 0 80px;
}

nav .brand-logo {
    font-weight: 700;
    color: var(--dark);
}

nav .brand-logo span {
    color: var(--blue);
}

nav ul li a:not(.exclude) {
    transition: var(--transition);
    color: var(--dark);
    height: 20px;
    padding: 40px 20px;
    line-height: 20px;
}

nav ul li a:not(.btn):not(.exclude)::after {
    position: relative;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    background-color: var(--blue);
    transition: all var(--transition);
    width: 0.01%;
    border-radius: 2px;
    height: 2px;
    margin-left: 50%;
}

nav ul li a:not(.btn):not(.exclude):hover::after,
nav ul li a.active::after {
    width: 100% !important;
    margin-left: 0 !important;
}

nav ul a:hover {
    background: none;
    opacity: 1 !important;
}

nav .menu-toggle {
    cursor: pointer;
    position: relative;
    top: 10px;
}

nav .menu-toggle li a {
    line-height: 100px;
    transition: var(--transition);
    color: var(--dark);
    height: 20px;
    padding: 30px 20px;
    line-height: 20px;
}


/*--- Socials ---*/

#socials {
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

#socials a {
    display: block;
    background-position: center;
    background-size: cover;
    margin: 20px 0;
    opacity: 1;
    transition: var(--transition);
}

#socials a img {
    width: 30px;
    height: 30px;
}

#socials:hover a {
    opacity: 0.3;
}

#socials a:hover {
    opacity: 1;
}

/*--- Content Wrapper ---*/

#wrapper {
    margin-top: 100px;
    padding: 50px 0 100px 0;
}

/*--- Latest ---*/

#latest .post-container {
    margin: 50px 0;
    text-align: center;
}

#latest .post-container .title {
    color: var(--blue);
}

#latest .img-container img {
    width: 100%;
    max-width: 600px;
}

#latest .material-icons {
    margin-left: 10px;
    position: relative;
    top: 3px;
}

/*--- About ---*/

#about .row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

#about .avatar {
    width: 80%;
    max-width: 400px;
    box-shadow: var(--shadow);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#about .text-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#about #gallery {
    padding-top: 100px;
    text-align: center;
}

#about #gallery .col {
    padding: 50px 5vw;
}

#about #gallery .gallery-image {
    width: 100%;
    box-shadow: var(--shadow);
}

#about .link {
    font-size: 18px;
}

/*--- Creator ---*/

#director .row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

#director .col-left {
    padding-right: 50px;
}

#director .date {
    margin: -4px 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--blue);
}

#director .video-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#director .shadow {
    box-shadow: var(--shadow);
}

/*--- Contact ---*/

#contact .row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

#contact .text-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#contact h2 {
    font-weight: 400;
}

#contact .title {
    font-weight: 800;
}

/*--- Tablets ---*/

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    nav {
        padding: 0 40px;
    }
}