<%- include ../partials/navigation.ejs -%>

<!-- Content Wrapper -->
<div id="wrapper">

    <!-- About -->
    <div id="about" class="tabcontent">
        <div class="container">

            <!-- Welcome -->
            <div class="row valign-wrapper">
                <div class="col col-left l6 m12 s12 hide-on-small-and-down">
                    <img src="./assets/images/two.JPG" class="avatar" />
                </div>
                <div class="col l6 m12 s12">
                    <h2>Hello, I'm Charlie</h2>
                    <p>I’m a hard working, talented television and film actor always wanting to better myself through experience. I’m motivated, energetic, skilled at public speaking and presenting, self-directed multi-tasker comfortable interacting with people from all backgrounds. Active listener with superb oral and written communication skills.</p>
                    <a href="#!" class="link">Download my resume</a>
                </div>
            </div>

            <!-- Gallery -->
            <div id="gallery">
                <h2>Gallery</h2>
                <div class="row">
                    <div class="col l6 m6 s12">
                        <img src="./assets/images/one.JPG" class="gallery-image load-hidden" />
                    </div>
                    <div class="col l6 m6 s12">
                        <img src="./assets/images/three.JPG" class="gallery-image load-hidden" />
                    </div>
                </div>
                <div class="row">
                    <div class="col l6 m6 s12">
                        <img src="./assets/images/four.JPG" class="gallery-image load-hidden">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Initiation script -->
    <script type="text/javascript">window.onload = () => Page.init('about')</script>
</div>