<%- include ../partials/navigation.ejs -%>

<!-- Content Wrapper -->
<div id="wrapper">

    <!-- About Section -->
    <div id="about" class="tabcontent">
        <div class="container">

            <!-- About Intro -->
            <div class="row valign-wrapper">
                <div class="col col-left l6 m12 s12 hide-on-small-and-down">
                    <img alt="Headshot 1 of Charlie Potter" src="./assets/images/one.JPG" class="avatar" />
                </div>
                <div class="col l6 m12 s12">
                    <h2>About</h2>
                    <p>Charlie Potter is a Melbourne born actor and media creator. Armed with a sensitive soul and an electric energy, he’s your friendly Sydney-based teenager. Between acting studies and training Charlie’s exploring new angles and ideas with his camera, and continuing his growth in storytelling.</p>
                    <a href="/assets/pdf/charlie-potter-resumé.pdf" target="_blank" class="link">View resume</a>
                </div>
            </div>

            <!-- Gallery Images -->
            <div id="gallery">
                <h2>Gallery</h2>
                <div class="row">
                    <div class="col l6 m6 s12">
                        <img alt="Headshot 2 of Charlie Potter" src="./assets/images/two.JPG" class="gallery-image load-hidden" />
                    </div>
                    <div class="col l6 m6 s12">
                        <img alt="Headshot 3 of Charlie Potter" src="./assets/images/four.JPG" class="gallery-image load-hidden" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Initiation script -->
    <script type="text/javascript">window.onload = () => Page.init('about')</script>

</div>