<!-- Mobile Navigation -->
<div id="mobile-nav">
  <div class="close-toggle" onclick="_toggleMobileNav()">
    <span class="material-icons">close</span>
  </div>
  <ul>
    <li><a href="/latest" data-id="latest">Latest</a></li>
    <li><a href="#" data-id="about" class="active">About</a></li>
    <li><a href="/actor" data-id="actor">Actor</a></li>
    <li><a href="/director" data-id="director">Director</a></li>
    <li><a href="/contact" data-id="contact">Contact</a></li>
  </ul>
  <div class="socials-container">
    <a href="http://linkedin.com/in/charlie-potter-135705163" target="_blank"
      >LinkedIn</a
    >
    |
    <a
      href="https://www.youtube.com/channel/UCIgxUp5h-AtEB9MqeOq2avg"
      target="_blank"
      >Youtube</a
    >
    |
    <a href="https://vimeo.com/charliepotter" target="_blank">Vimeo</a>
  </div>
</div>
<!-- Desktop Navigation -->
<nav>
  <div class="nav-wrapper">
    <a href="/about" class="brand-logo">Charlie Potter<span>.</span></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/latest" data-id="latest">Latest</a></li>
      <li><a href="#" data-id="about" class="active">About</a></li>
      <li><a href="/actor" data-id="actor">Actor</a></li>
      <li><a href="/director" data-id="director">Director</a></li>
    </ul>
    <ul
      class="menu-toggle right hide-on-large-only"
      onclick="_toggleMobileNav()"
    >
      <li>
        <a class="exclude"><span class="material-icons">menu</span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- Content Wrapper -->
<div id="wrapper">
  <div id="about">
    <div id="splash">
      <div class="container">
        <div class="row">
          <div class="col l6 m12 s12">
            <img
              alt="Headshot 1 of Charlie Potter"
              src="./assets/images/low/oneLow.jpg"
              data-src="./assets/images/full/oneFull.jpg"
              class="avatar"
            />
          </div>
          <div class="col l6 m12 s12">
            <div class="vertical-align">
              <h2>About</h2>
              <p>
                Charlie Potter is an Australian-born actor and media creator.
                Armed with a sensitive soul and an electric energy, he's your
                friendly Sydney-based teenager. Between acting studies and
                training, Charlie's directing, producing and writing his next
                project, continuing his growth in storytelling.
              </p>
              <div class="button-group">
                <a
                  href="/assets/pdf/charlie-potter-resume.pdf"
                  class="button primary"
                  target="_blank"
                  >View Resumé</a
                >
                <a onclick="openPhotoSwipe()" class="button secondary"
                  >View Photo Gallery</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button
              class="pswp__button pswp__button--close"
              title="Close (Esc)"
            ></button>
            <button
              class="pswp__button pswp__button--share"
              title="Share"
            ></button>
            <button
              class="pswp__button pswp__button--fs"
              title="Toggle fullscreen"
            ></button>
            <button
              class="pswp__button pswp__button--zoom"
              title="Zoom in/out"
            ></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"
          >
            <div class="pswp__share-tooltip"></div>
          </div>
          <button
            class="pswp__button pswp__button--arrow--left"
            title="Previous (arrow left)"
          ></button>
          <button
            class="pswp__button pswp__button--arrow--right"
            title="Next (arrow right)"
          ></button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
