<!-- Mobile Navigation -->
<div id="mobile-nav">
    <div class="close-toggle" onclick="_toggleMobileNav()">
        <span class="material-icons">close</span>
    </div>
    <ul>
        <li><a href="/latest" data-id="latest" tabindex="-1">Latest</a></li>
        <li><a href="/about" data-id="about" tabindex="-1">About</a></li>
        <li><a href="/actor" data-id="actor" tabindex="-1">Actor</a></li>
        <li><a href="/director" data-id="director" tabindex="-1">Director</a></li>
        <li><a href="#" data-id="contact" tabindex="-1" class="active">Contact</a></li>
    </ul>
    <div class="socials-container">
        <a href="http://linkedin.com/in/charlie-potter-135705163" target="_blank" tabindex="-1">LinkedIn</a> | 
        <a href="https://www.youtube.com/channel/UCIgxUp5h-AtEB9MqeOq2avg" target="_blank" tabindex="-1">Youtube</a> | 
        <a href="https://vimeo.com/charliepotter" target="_blank" tabindex="-1">Vimeo</a>
    </div>
</div>
<!-- Desktop Navigation -->
<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo">Charlie Potter<span>.</span></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/latest" data-id="latest">Latest</a></li>
            <li><a href="/about" data-id="about">About</a></li>
            <li><a href="/actor" data-id="actor">Actor</a></li>
            <li><a href="/director" data-id="director">Director</a></li>
        </ul>
        <ul class="menu-toggle right hide-on-large-only" onclick="_toggleMobileNav()">
            <li><a class="exclude"><span class="material-icons">menu</span></a></li>
        </ul>
    </div>
</nav>
<!-- Content Wrapper -->
<div id="wrapper">
    <div id="contact" class="tabcontent">
        <div class="container">
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="text-container">
                        <p class="title">Email:</p>
                        <p class="fade">charlesedwardpotter@gmail.com</p>
                        <p class="title">Location:</p>
                        <p class="fade">Sydney, Australia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>