<%- include ../partials/navigation.ejs -%>

<!-- Content Wrapper -->
<div id="wrapper">

    <!-- Contact Form -->
    <div id="contact" class="tabcontent">
        <div class="container">
            <div class="row">
                <div class="col l12 m12 s12">
                    <div class="text-container">
                        <p class="title">Email:</p>
                        <p class="fade">charlesedwardpotter@gmail.com</p>
                        <p class="title">Location:</p>
                        <p class="fade">Sydney, Australia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Initiation Script -->
    <script type="text/javascript">window.onload = () => Page.init('contact')</script>
    
</div>