<%- include ../partials/navigation.ejs -%>

<!-- Content Wrapper -->
<div id="wrapper">
    
    <!-- Director -->
    <div id="director" class="tabcontent">
        <div class="container">
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h3>Murndal: A family tree</h3>
                    <p class="date">Sep, 2017</p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/8j0Q9akk1zo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row load-hidden">
                    <div class="col col-left l6 m12 s12">
                        <h3>Scotch College: Cordner Eggleston Cup</h3>
                        <p class="date">July, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam</p>
                    </div>
                    <div class="col l6 m12 s12">
                        <div class="video-container">
                            <iframe src="https://www.youtube.com/embed/DGQt6CedXeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Initiation script -->
    <script type="text/javascript">window.onload = () => Page.init('director')</script>

</div>