<!-- Mobile Navigation -->
<div id="mobile-nav">
    <div class="close-toggle" onclick="_toggleMobileNav()">
        <span class="material-icons">close</span>
    </div>
    <ul>
        <li><a href="/latest" data-id="latest">Latest</a></li>
        <li><a href="/about" data-id="about">About</a></li>
        <li><a href="/actor" data-id="actor">Actor</a></li>
        <li><a href="#" data-id="director" class="active">Director</a></li>
        <li><a href="/contact" data-id="contact">Contact</a></li>
    </ul>
    <div class="socials-container">
        <a href="http://linkedin.com/in/charlie-potter-135705163" target="_blank">LinkedIn</a> | 
        <a href="https://www.youtube.com/channel/UCIgxUp5h-AtEB9MqeOq2avg" target="_blank">Youtube</a> | 
        <a href="https://vimeo.com/charliepotter" target="_blank">Vimeo</a>
    </div>
</div>
<!-- Desktop Navigation -->
<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo">Charlie Potter<span>.</span></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/latest" data-id="latest">Latest</a></li>
            <li><a href="/about" data-id="about">About</a></li>
            <li><a href="/actor" data-id="actor">Actor</a></li>
            <li><a href="#" data-id="director" class="active">Director</a></li>
        </ul>
        <ul class="menu-toggle right hide-on-large-only" onclick="_toggleMobileNav()">
            <li><a class="exclude"><span class="material-icons">menu</span></a></li>
        </ul>
    </div>
</nav>
<!-- Content Wrapper -->
<div id="wrapper">
    <div id="director" class="tabcontent">
        <div class="container">
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>Murndal: A family tree</h4>
                    <p class="date">Sep, 2017</p>
                    <p>On one of Western Victoria’s most historic properties, father and daughter, Marcus and Alice, exchange memories and experiences they’ve shared together on the farm and explore what the future might have in store for them.</p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe src="https://www.youtube.com/embed/8j0Q9akk1zo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>Scotch College: Cordner Eggleston Cup</h4>
                    <p class="date">July, 2017</p>
                    <p>The first ever AFL match was played between Scotch College and Melbourne Grammar in 1858, the result being a draw. Every year, both schools honour this game under the Cordner-Eggleston Cup. Bringing communities together, the end result is always a glorious game of footy.</p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe src="https://www.youtube.com/embed/DGQt6CedXeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>