<%- include ../partials/navigation.ejs -%>

<!-- Content Wrapper -->
<div id="wrapper">
    
    <!-- Director -->
    <div id="director" class="tabcontent">

        <!-- Youtube Videos -->
        <div class="container">
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>Murndal: A family tree</h4>
                    <p class="date">Sep, 2017</p>
                    <p>On one of Western Victoria’s most historic properties, father and daughter, Marcus and Alice, exchange memories and experiences they’ve shared together on the farm and explore what the future might have in store for them.</p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe src="https://www.youtube.com/embed/8j0Q9akk1zo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row load-hidden">
                    <div class="col col-left l6 m12 s12">
                        <h4>Scotch College: Cordner Eggleston Cup</h4>
                        <p class="date">July, 2017</p>
                        <p>The first ever AFL match was played between Scotch College and Melbourne Grammar in 1852, the result being a draw. Every year, both schools honour this game under the Cordner-Eggleston Cup. Bringing communities together, the end result is always a glorious game of footy.</p>
                    </div>
                    <div class="col l6 m12 s12">
                        <div class="video-container shadow">
                            <iframe src="https://www.youtube.com/embed/DGQt6CedXeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <!-- Initiation script -->
    <script type="text/javascript">window.onload = () => Page.init('director')</script>

</div>