<!-- Mobile Navigation -->
<div id="mobile-nav">
    <div class="close-toggle" onclick="_toggleMobileNav()">
        <span class="material-icons">close</span>
    </div>
    <ul>
        <li><a href="/latest" data-id="latest">Latest</a></li>
        <li><a href="/about" data-id="about">About</a></li>
        <li><a href="/actor" data-id="actor">Actor</a></li>
        <li><a href="#" data-id="director" class="active">Director</a></li>
        <li><a href="/contact" data-id="contact">Contact</a></li>
    </ul>
    <div class="socials-container">
        <a href="http://linkedin.com/in/charlie-potter-135705163" target="_blank">LinkedIn</a> | 
        <a href="https://www.youtube.com/channel/UCIgxUp5h-AtEB9MqeOq2avg" target="_blank">Youtube</a> | 
        <a href="https://vimeo.com/charliepotter" target="_blank">Vimeo</a>
    </div>
</div>
<!-- Desktop Navigation -->
<nav>
    <div class="nav-wrapper">
        <a href="/about" class="brand-logo">Charlie Potter<span>.</span></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/latest" data-id="latest">Latest</a></li>
            <li><a href="/about" data-id="about">About</a></li>
            <li><a href="/actor" data-id="actor">Actor</a></li>
            <li><a href="#" data-id="director" class="active">Director</a></li>
        </ul>
        <ul class="menu-toggle right hide-on-large-only" onclick="_toggleMobileNav()">
            <li><a class="exclude"><span class="material-icons">menu</span></a></li>
        </ul>
    </div>
</nav>
<!-- Content Wrapper -->
<div id="wrapper">
    <div id="director" class="tabcontent">
        <div class="container">
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>Best of 2019: Year in Review</h4>
                    <p class="date">Dec, 2019</p>
                    <p></p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0OS98IkidyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>Murndal: A Family Tree</h4>
                    <p class="date">Sep, 2017</p>
                    <p>On one of Western Victoria’s most historic properties, father and daughter, Marcus and Alice, exchange memories and experiences they’ve shared together on the farm and explore what the future might have in store for them.</p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe src="https://www.youtube.com/embed/8j0Q9akk1zo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>Scotch College: Cordner Eggleston Cup</h4>
                    <p class="date">July, 2017</p>
                    <p>AFL's first ever match was played between Scotch College and Melbourne Grammar in 1858 with the final score a draw. Every year since, both schools honour this historic game in the hope of taking home the Cordner-Eggleston Cup.</p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe src="https://www.youtube.com/embed/DGQt6CedXeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row load-hidden">
                <div class="col col-left l6 m12 s12">
                    <h4>GoPro Greece - Boys on Tour</h4>
                    <p class="date">June, 2017</p>
                    <p></p>
                </div>
                <div class="col l6 m12 s12">
                    <div class="video-container shadow">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/XwQYTc4RGTU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>